<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.hooyodex.agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HOOYODEX_BIN__</string>
    <string>--config</string>
    <string>__HOOYODEX_CONFIG__</string>
    <string>run</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>__WORKING_DIRECTORY__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>RUST_LOG</key>
    <string>hooyodex=info,codex_app_server=info,codex_app_server_sdk=info</string>
    <key>PATH</key>
    <string>__SERVICE_PATH__</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
