<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hooyodex.agent</string>

  <key>ProgramArguments</key>
  <array>
    <string>__BIN__</string>
    <string>--config</string>
    <string>__CONFIG_DIR__/config.toml</string>
    <string>run</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>

  <key>WorkingDirectory</key>
  <string>__CONFIG_DIR__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOOYODEX_CONFIG</key>
    <string>__CONFIG_DIR__/config.toml</string>
    <key>RUST_LOG</key>
    <string>hooyodex=info</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/hooyodex.out.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/hooyodex.err.log</string>
</dict>
</plist>
